.body{
  background-image: url("floral.jpg");
  background-color: rgb(212,210,195);
  background-position: center;
  background-repeat: no-repeat;
  background-color: cream;
}

.navbar{
  background-color: #37917a;
  min-width: 100%;
  margin: 0 auto;
  border-bottom: 3px solid black;
/* kept trying to make the navbar fixed, it messed up whole page */
}

header > img{
  height: 150px;
  padding: 2%;
}

nav{
  float:right;
  margin-top: 10%;
  margin-right: 10%;
  word-spacing: 50px;
}

a{
  color:white;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

h1{
  font-size: 24pt;
  padding-bottom: 4%;
}

.box1{
  margin: auto;
  margin-top: 20px;
  width: 50%;
  padding: 5%;
  color: #37917a;
  background-color: rgba(255,255,255,0.9);
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.box1 > a{
  margin: 20%;
  background-color: #37917a;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
  border: 3px solid black;
}

a:hover{
  color: pink;
}

.test1{
  margin: auto;
  margin-top: 20px;
  width: 30%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 6%;
  padding-bottom: 6%;
  color: #37917a;
  background-color: rgba(255,255,255,0.9);
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.test2{
  margin: auto;
  margin-top: 20px;
  width: 30%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 6%;
  padding-bottom: 6%;
  color: #37917a;
  background-color: rgba(255,255,255,0.9);
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.test3{
  margin: auto;
  margin-top: 20px;
  width: 30%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 6%;
  padding-bottom: 6%;
  color: #37917a;
  background-color: rgba(255,255,255,0.9);
  font-family: 'Roboto', sans-serif;
  text-align: center;
}


.box3{
  margin: auto;
  width: 50%;
  padding: 10%;
  color: #37917a;
  background-color: rgba(255,255,255,0.9);
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.footer{
  margin: auto;
  margin-top: 20px;
  width: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
  color: #37917a;
  background-color: rgba(255,255,255,0.9);
  font-family: 'Roboto', sans-serif;
  text-align: center;
}
